<nav class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">My Book App</a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item me-3">
      <a class="nav-link" routerLink="/create">Add</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link" routerLink="/update">Edit</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link" routerLink="/find">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/delete">Remove</a>
    </li>
  </ul>
</nav>
